
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.header{
    
    font-family: "Poppins",sans-serif;
}
.logo-span{
    width: 10%;
}
.logo-span>img{
    height: 6rem;
    width: 6rem;
}
.icon>svg{
    margin-top: 0.3rem;
    height: 1.3rem;
    margin-left:0.8rem ;
    fill: rgba(0, 0, 0, 0.808);
}
.first-nav{
    width: 100%;
    height: max-content;
    padding: 0.5rem;
    background-color: #faeaed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.first-nav>div{
    margin-inline: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.searchbar-span{
    width: 47%;
}
.searchbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border: 1px solid lightgrey;
    border-radius: 2rem;
    background-color: #fff;
    padding-inline: 0.4rem;
    margin-inline: 2rem;
}
.searchbar>input{
    padding-inline: 10px;
    outline: none;
    border: none;
    /* text-indent: 0.8rem; */
    width: 100%;
    border-radius: 0.4rem;
    
}

.searchbar:hover{
    border: 1px solid black;
}

.searchbar>input::placeholder{
    color: rgba(161, 159, 159, 0.842);
    font-size: larger;
    display: none;
    font-family: "Poppins", sans-serif;
}

.searchbar>input:focus{
    outline: none;
    color: #000000;
}

.btn-span{
    margin-left: 45px;
    
    display: flex;
    justify-content: space-around;
}

.btn-span>button{
    border-radius: 3rem;
    padding-block: 11px;
    padding-inline: 20px;
    font-family: "Poppins", sans-serif;
    margin-left: 10px;
    cursor: pointer;
}

.btn-span>:nth-child(1){
    background-color: transparent;
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    gap: 7px;
    color: black;
}

.accSvg{
    width: 1.2rem;
}

.btn-span>:nth-child(1):hover,.accSvg:hover{
    background-color: #000000;
    fill: white;
    color: white;
}

.btn-span>:nth-child(2){
    display: flex;
    align-items: center;
    background-color: #8e80c8;
    border: 0.5px solid #8e80c8;
    gap: 7px;
    color: white;
    
}

.link-nav{
    width: 98dvw;
    height: max-content;
    background-color: #fff;
    position: relative;
}

.link-div{
    width: 62%;
    margin:auto ;
    margin-right: 360px;
    padding: 25px;
    gap: 25px;
    background-color: hsl(0, 0%, 100%);
    font-family: "Tenor Sans",sans-serif;
    display: flex;
    align-items: center;
    justify-content: left;
    letter-spacing: normal;
}

.link-div>a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin-inline: 10px;
    text-wrap: nowrap;
    transition: 500ms linear all;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0);
}

.ctaLink{
    font-weight:bold;
    /* background: rgb(238, 174, 174); */
    /* background: -webkit-linear-gradient(#eee, #333); */
    background: linear-gradient(90deg, rgb(218, 149, 149) 0%, rgb(183, 124, 223) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-div>a:hover{
    border-bottom:1.5px solid black;
}

.side-nav{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    width: 400px;
    height: 100vh;
    top: 0;
    left: 0;
    font-family: "Tenor Sans",sans-serif;
    gap: 1.8rem;
    background-color: #fff;
}
.side-nav>a{
    text-decoration: none;
    margin-left: 1.5rem;
   
}

.menu-header{
    width: 85%;
    margin-top: 10px;
    font-size: larger;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Aac-Btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}
.searchbar-mobile{
    display: none;
}
.bar-svg,.cart-svg{
    width: 1.6rem;
    display: none;
}
@media(max-width:1020px){
    .btn-span{
        display: none;
    }
    .searchbar-span{
        display: none;
    }
    .link-div{
        display: none;
    }
    .link-nav{
        padding: 1rem;
    }
    .searchbar-mobile{
        width: 90%;
        display: block;
    }
    .bar-svg,.cart-svg{
        display: block;
        
    }

    .first-nav>div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-span{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


